fastapi
uvicorn
requests
beautifulsoup4
httpx
python-dotenv
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
chromadb
google-generativeai
apscheduler
yt-dlp
sentence-transformers
pydantic